* {
    margin: 0px;
    padding: 0px;
}

/* google fonts */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #e02c6d;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;

}

.btn-primary-2 {
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #e02c6d;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;

}

/* nav styling */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
}

.icon-text {
    font-size: 1.2rem;
    font-weight: 700;
    color: #3A3A3A;
}


.anchor ul {
    display: flex;
    text-decoration: none;
    gap: 25px;
    /* text-align: center;
    justify-content: center; */
}

.anchor a,
li {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

/* hero section start */

.hero-section {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px;
    gap: 100px;
}

.hero-images img {
    background-image: url("../images/Circle\ design.svg");
    /* background-position: left; */
    background-size: 100%;
    width: 100%;
}

.hero-text-title {
    font-weight: 700;
    font-size: 3rem;
    color: #3A3A3A;

}

.hero-title {
    margin-top: 80px;
    width: 500px;
    height: 300px;
}

.hero-text-description {
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
    margin: 15px auto;
}


/* Logos styling */

.logos-section {
    margin: 60px 130px;
}

.brand-logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
}

.brand-logos img {
    width: 100%;
}

/* card section start */
.card-heading {
    text-align: center;
    margin: 100px 100px 0px;
    color: #3a3a3a;
    font-size: 1.5rem;
    font-weight: 600;
}

.card-parents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 50px 120px;
}

.card-box {
    /* border: 2px solid tomato; */
    padding: 10px;
    box-shadow: #9c9b9b 2px 2px 2px 2px;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: start;
    width: 300px;
    height: 450px;
}

.card-box img {
    width: 100%;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #18191f;
    line-height: 40px;
    margin-top: 15px;
}

.product-price {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
    margin: 5px;
}

.card-description {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 120%;
    color: #787885;
    letter-spacing: 1px;
    margin-top: 10px;
}


/*  featured-products styling*/

.featured-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 150px 100px 20px;
    /* gap: 50px; */
}


.featured-heading {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0a0826;
    line-height: 60px;
    margin-top: 20px;

}

.featured-description {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 120%;
    color: #787885;
    margin: 10px;

}

/* footer styling */
footer {
    background-color: #0a0826;
    text-align: center;
    margin-top: 100px;
    padding: 30px;
}

.footer-title {
    color: #f8f8f8;
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-description {
    font-size: 0.8rem;
    color: #d9dbe1;
    font-weight: 700;
    line-height: 24px;
}






@media screen and (max-width:576px) {
    .anchor ul {
        flex-direction: column;
    }

    .icon-text {
        font-size: 1rem;
    }


    /* hero section responsive */
    .hero-images img {
        width: 80%;

    }

    .hero-title {
        margin-top: 10px;
        width: 100%;

    }

    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
        margin: 0px 0px;
    }

    .hero-text-title {
        font-size: 1.8rem;
        text-align: center;
        margin: 0px;
    }

    /* responsive brand logos*/
    .brand-logos {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;

    }

    .logos-section {
        margin: 0px auto;
    }

    /* card section */
    .card-parents {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 60px;
    }

    .featured-products {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 20px;

    }

    .featured-text {
        text-align: center;
    }



}